<h1 class="jumbotron">Your account dashboard: </h1>


 <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th >Total Products</th>
          <th>Total Categories</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td><%=@products_count%></td>
        <td><%=@category_count%></td>
        </tr>
      </tbody>
 
     <tbody>
     </tbody>
    </table>
  </div>
